@{
    ViewData["Title"] = "Home";
}

<h1 class="h1-home">Aldeia Segura</h1>
<h5 class="h5-home">Denuncie ilegalidades e proteja a natureza e sua aldeia</h5>
<div>
    <div class="titulo">
        <div class="bloco-titulo"></div><h1 class="centraliza-titulo h1-home-cor"><strong>Denúncias Mapeadas</strong></h1>
    </div>
</div>
<div class="fundo-mapa-conteudo">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25803114.32619154!2d-66.77889268849843!3d-14.908280361550005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9c59c7ebcc28cf%3A0x295a1506f2293e63!2sBrasil!5e0!3m2!1spt-BR!2sbr!4v1641655311263!5m2!1spt-BR!2sbr" width="600" height="450" style="border:2px solid green;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div style="padding:20px;">
        <h4>Marcações</h4>
        <p class="texto-home">
            Os principais pontos de crime contra terras indígnas estão marcados no Mapa. Cada ponto se refere a uma prática ilegal.
        </p>
    </div>
</div>
