@{
    ViewData["Title"] = "Fale Conosco";
}

<div class="titulo">
    <div class="bloco-titulo"></div><h1 class="centraliza-titulo"><strong>Contatos</strong></h1>
</div>

<div class="contato-conteudo">
    <div class="contato-fundo">
        <div class="lado-lado">
            <div>
                <h2>Telefones:</h2>
                <p><i class="fa-solid fa-phone"></i> (21) 2592-5784</p>
                <p><i class="fa-brands fa-whatsapp"></i> (21) 98754-2367</p>
            </div>
            <div class="centraliza-linha">
                <div class="linha-vertical"></div>
            </div>
            <div>
                <h2>Email:</h2>
                <p><i class="fa-solid fa-at"></i> destino@certo.com</p>
            </div>
        </div>
    </div>
</div>
