@model ProjetoIndigenas.Models.Pessoa

@{
    ViewData["Title"] = "Atualizar";
}

<div class="titulo">
    <div class="bloco-titulo"></div><h1 class="centraliza-titulo"><strong>Atualizar Pessoa</strong></h1>
</div>

<div class="row centraliza-form">
    <div class="col-md-4 cor-form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PessoaID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf_Rani" class="control-label"></label>
                <input asp-for="Cpf_Rani" class="form-control" />
                <span asp-validation-for="Cpf_Rani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel1" class="control-label"></label>
                <input asp-for="Tel1" class="form-control" />
                <span asp-validation-for="Tel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel2" class="control-label"></label>
                <input asp-for="Tel2" class="form-control" />
                <span asp-validation-for="Tel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatNasc" class="control-label"></label>
                <input asp-for="DatNasc" class="form-control" />
                <span asp-validation-for="DatNasc" class="text-danger"></span>
            </div>
            <div class="form-group btn-espaco">
                <input type="submit" value="Salvar Alterações" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-primary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
