@model ProjetoIndigenas.Models.Denuncia

@{
    ViewData["Title"] = "Atualizar";
}

<div class="titulo">
    <div class="bloco-titulo"></div><h1 class="centraliza-titulo"><strong>Atualizar Denúncia</strong></h1>
</div>

<div class="row centraliza-form">
    <div class="col-md-4 cor-form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DenunciaID" />
            <div class="form-group">
                <label asp-for="PessoaID" class="control-label"></label>
                <select asp-for="PessoaID" class="form-control" asp-items="ViewBag.PessoaID"></select>
                <span asp-validation-for="PessoaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    <option value="Queimada">Queimada</option>
                    <option value="Desmatamento">Desmatamento</option>
                    <option value="Mineração">Mineração</option>
                    <option value="Caça">Caça Ilegal</option>
                    <option value="Invasão">Invasão</option>
                    <option value="Outros">Outros</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimaAtt" class="control-label"></label>
                <input asp-for="UltimaAtt" class="form-control" />
                <span asp-validation-for="UltimaAtt" class="text-danger"></span>
            </div>
            <div class="form-group btn-espaco">
                <input type="submit" value="Salvar Alterações" class="btn btn-success btn-sm" />
                <a asp-action="Index"class="btn btn-primary btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
